// variables used
$primary: #4b3832;
$text: #3c2f2f;
$secondary: #66452a;
$third: #be9b7b;
$font-type: monospace;

// background color- change to picture background with opacity
.body-page {
  background-color: $secondary;
}


// main header & sub
.title {
  text-align: center;
  font-family: $font-type;
  color: $third;
  font-size: 50px;
}

.subtitle {
  text-align: center;
  font-family: $font-type;
  color: $text;
  font-size: 20px;
}

.book-card-base {
  padding: 10px;
  margin-left: 17px;
  
}

// styling for card - base of card
.card {
  border: 2px solid $text;
  border-radius: 0.5em;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-body {
  font-family: $font-type;
  background-color: $third;
  object-fit: cover;
  width: 100%;
  height: 300px;
}

// - content of card
.card-title {
  font-size: 18px;
  margin: 5px;
  text-align: center;
  color: $text;
}

.card-subtitle {
  font-size: 14px;
  margin: 5px;
  text-align: center;
  color: $primary;
}

.card-text {
  font-size: 12px;
  color: $text;
  padding-left: 5px;
}

.card-link {
  padding-left: 5px;
  margin-top: 15px;
}

// footer section
.footer-section {
  font-family: $font-type;
  font-size: 16px;
}